//@import add2home

@import boilerplate

li:hover 
	background-color: red

.ui-active-page 

	display: block !important


content 
	width: 100%
	height: 80%
	overflow: hidden
	display: block
	
	li
		margin: 5px
		list-style: none
		padding: 5px
		border: 1px solid grey
		


footer 
	position: fixed
	bottom: 0

footer, header
	li
		float: left
		margin: 5px
		list-style: none
		padding: 5px
		border: 1px solid grey
	
	height: 10%

div[data-role=page] 
	display: none
	position: absolute
	width: 100%


.in, .out 
	-webkit-animation-timing-function: ease-in-out
	-webkit-animation-duration: 800ms


.slideleft.in 
	-webkit-animation-name: slideLeftIn


.slideleft.out 
	-webkit-animation-name: slideLeftOut
	
@css {
	@-webkit-keyframes slideLeftIn {
		0% {
			-webkit-transform: translateX(100%)
		}
		100% {
			-webkit-transform: translateX(0)
		}
	}

	@-webkit-keyframes slideLeftOut {
		0% {
			-webkit-transform: translateX(0px)
		}
		100% {
			-webkit-transform: translateX(-100%)
		}
	}
}