@import boilerplate

#venuesList li:hover 
	background-color: red

.ui-active-page 

	display: block !important


content 
	width: 100%
	overflow: hidden


footer 

	position: fixed
	bottom: 0


div[data-role=page] 
	display: none
	position: absolute

	width: 100%


.in, .out 
	-webkit-animation-timing-function: ease-in-out
	-webkit-animation-duration: 350ms



.slideleft.in 
	-webkit-animation-name: slideLeftIn


.slideleft.out 
	-webkit-animation-name: slideLeftOut
	
@css {
	@-webkit-keyframes slideLeftIn {
		0% {
			-webkit-transform: translateX(100%)
		}
		100% {
			-webkit-transform: translateX(0)
		}
	}

	@-webkit-keyframes slideLeftOut {
		0% {
			-webkit-transform: translateX(0px)
		}
		100% {
			-webkit-transform: translateX(-100%)
		}
	}
}